{% extends 'dashboard/layout/base.html' %}

{% block title %} {{ booking.room }} | Booking Details {% endblock %}

{% block stylesheet %}

<style>


</style>
{% endblock %}


{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <div class="row">
                          <div class="col-md-6">
                            <h6 class="mb-0"> Booking Details</h6>
                          </div>
                          <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
                            <small>23 - 30 March 2020</small>
                          </div>
                        </div>
                      </div>
                    <div class="card-body p-3">
                      <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 border-radius-lg">
                          <div class="d-flex flex-column">
                            <h6 class="mb-3 text-md">Presidential Suite</h6>
                            <span class="mb-2 text-md">Check In: <span class="text-dark ms-sm-2 font-weight-bold">{{ booking.check_in}} <span class="text-muted text-xs"> ( {{ booking.check_in|date:"l"}} )</span></span></span>
                            <span class="mb-2 text-md">Check Out: <span class="text-dark ms-sm-2 font-weight-bold">{{ booking.check_out}} <span class="text-muted text-xs"> ( {{ booking.check_out|date:"l"}} )</span></span></span>
                            <span class="mb-2 text-md">Amount to pay: <span class="text-dark ms-sm-2 font-weight-bold">₱ 3500.00 ( 2 nights )</span></span>
                            <span class="mb-2 text-md">Amount Paid: <span class="text-dark ms-sm-2 font-weight-bold">₱ 3500.00 </span></span>
                            <span class="mb-2 text-md">Status: <span class="badge badge-pill badge-md bg-gradient-warning">{{ booking.status }}</span></span>
                          </div>
                          <div class="ms-auto text-end">
                            <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Confirm" data-bs-original-title="Confirm"><i class="fa fa-check-circle text-dark me-2" aria-hidden="true"></i></a>
                            <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Edit" data-bs-original-title="Edit"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i></a>
                            <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Cancel" data-bs-original-title="Cancel"><i class="fas fa-trash-alt text-dark me-2" aria-hidden="true"></i></a>
                          </div>
                        </li>
                      </ul>

                      <hr class="dark horizontal">

                      <div class="card-header pb-0 px-3 mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <h6 class="mb-0">Additional Orders</h6>
                          </div>
                          <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <small>Total: ₱ {{ order.total_price }}</small>
                          </div>
                        </div>
                      </div>
                      <ul class="list-group">
                        {% if order %}

                        {% for item in order.items.all %}


                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                          <div class="d-flex align-items-center">
                            <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
                            <div class="d-flex flex-column">
                              <h6 class="mb-1 text-dark text-sm">{{ item.menu_item.name }} <span class="text-muted text-xs">({{ item.quantity }}) - </span><span class="text-xs">{{ item.status }}</span></h6>
                              <span class="text-xs">{{ item.placed_at }}</span>
                              
                            </div>
                          </div>
                          <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                            + ₱ {{  item.total_cost}}
                          </div>
                        </li>

                        
                        {% endfor %}

                        {% else %}
                            <p class="text-center">No associated order found for this booking.</p>
                        {% endif %}
    


                      <hr class="dark horizontal">


                      </ul>


                      <span class="mb-2 text-md d-flex justify-content-end">Total Balance: <span class="text-dark ms-sm-2 font-weight-bold">₱ {{ order.total_price}} </span></span>

                    </div>
                  </div>
            </div>
            <div class="col-md-5 mt-4">
                <!--
              <div class="card h-100 mb-4">
                <div class="card-header pb-0 px-3">
                  <div class="row">
                    <div class="col-md-6">
                      <h6 class="mb-0">Additional Orders</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                      <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
                      <small>23 - 30 March 2020</small>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-4 p-3">

                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Ensaymada </h6>
                          <span class="text-xs">26 March 2020, at 13:45 PM</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                        + $ 750
                      </div>
                    </li>

                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <button class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-exclamation" aria-hidden="true"></i></button>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Alfonso</h6>
                          <span class="text-xs">26 March 2020, at 05:00 AM</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center text-dark text-sm font-weight-bold">
                        Pending
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
                    -->
                    <div class="card mb-4">
                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                          <a href="javascript:;" class="d-block">
                            <img src="{{ booking.room.room_type.images.url }}" class="img-fluid border-radius-lg">
                          </a>
                        </div>
                      
                        <div class="card-body pt-2">
                            <a href="javascript:;" class="card-title h5 d-block text-darker">
                                {{ booking.room.name }}
                              </a>
                          <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Room # {{ booking.room.room_number }}</span>

                          <div class="author align-items-center mt-3">
                            <img src="{{ booking.guest.avatar.url }}" alt="Guest Avatar" class="avatar shadow">
                            <div class="name ps-3">
                              <span class="text-capitalize"><a href="{% url 'booking:guest-profile' booking.guest.id %}">{{ booking.guest }}</a></span>
                              <div class="stats">
                                <small>Checked-in {{ booking.check_in}} ( {{ booking.check_in|date:"l"}} )</small>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
          </div>
    </div>


{% endblock %}

{% block javascripts %}




{% endblock %}