{% extends 'dashboard/layout/restaurant_base.html' %}


{% block title %} Resturant Menu {% endblock %}

{% block stylesheet %}

{% endblock %}



{% block content %}

<div class="container-fluid py-4">


    <div class="row">
      
        <div class="col-8">
          <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                  <div>
                    <h5 class="mb-0">All Products</h5>
                  </div>

                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pricing</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Serving</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Actions</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for menu in menu_items %}

                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-md text-uppercase">{{ menu.name }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0 text-uppercase">{{ menu.category }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">₱ {{ menu.price }}</p>
                      </td>
                      <td>
                        <p class="text-sm text-center font-weight-bold mb-0">{{ menu.serves }}</p>
                      </td>
                      <td class="align-middle">


                        <div class="ms-auto text-center">
                          <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Confirm" data-bs-original-title="View"><i class="fa fa-eye text-dark me-2" aria-hidden="true"></i></a>
                          <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Edit" data-bs-original-title="Edit"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i></a>
                          <a class="btn btn-link text-dark p-0 mb-0" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" data-animation="true" aria-label="Cancel" data-bs-original-title="Delete"><i class="fas fa-trash-alt text-dark me-2" aria-hidden="true"></i></a>
                        </div>
                      </td>
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder text-info text-gradient">Add new product</h3>
            </div>
            <div class="card-body">
              <form role="form text-left">
                <label>Product name:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Product name" aria-label="Email" aria-describedby="email-addon">
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="category">Category</label>
                      <select class="form-control text-center" id="category" name="category">
                        <option>-- Select Category -- </option>
                        {% for category in categories %}
                          <option class="text-uppercase" value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                    
                      <label for="category">Pricing</label>
                      <div class="input-group">
                        <span class="input-group-text">₱</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Product Description: </label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Media</label>
                  <input class="form-control" type="file" value="John Snow" id="example-text-input" multiple>
                </div>



                  
                <div class="text-center">
                  <button type="button" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Add new product</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>

</div>

{% endblock %}



{% block javascript %}

{% endblock %}